body { 
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    background: lightgrey;
}

#header {
    padding: 20px;
    /* margin: 10px; */
    background-color: silver;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#header a {
	/* font-size: 12pt; */
	text-decoration: none;
	background-color: #7268ad;
	border-radius: 5px;
	padding: 7px;
	margin: 4% 5px;
	color: white;
}
#header a:hover {
	
	background-color: #5268ad;
	
}
#header .login {
	color: #5268AD;
	margin-left:4%;
	border-top: solid 1px #7268AD;
	border-bottom: solid 1px #7268AD;
	padding: 5px;
	/*border-radius: 20px;
	padding: 1px 1%;
	background-color: lightgrey; */

}

#content {
    padding: 20px;
    background: whitesmoke;
}

#footer {
    padding: 20px;
    background: silver;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


.table {
	max-width: 900px;
	font-size: 13pt;
}
.table tbody>tr>td {
	vertical-align: middle;
	border: 0px solid silver;
	padding: 10px;
}

.table a {
	text-decoration: none;
}

.table .btn {
	background-color: lightgrey;
	padding: 15px;
	border-radius: 5px;
	font-size: 14pt;
	cursor: pointer;
}
.table .btn:hover {
	background-color: silver;
}
.small {
	width: 90px;
}

.content {
	text-align: left;
	width: 100%;
	max-width: 900px;
	padding: 0 5px 0 5px;
	/* float: left; */
}
.content a {
	text-decoration: none;
}

.description_game {
	margin-bottom: 4%;
	height: auto;
	overflow: hidden;
}

.description_game img{
	width: 220px;
	float: left;
	margin-right: 2%;
	border-radius: 5px;
	border: solid 5px #dad7d5;
}

.reviews {
	margin-bottom: 4%;
	font-size: 0.9em;
}
.reviews_active {
	margin-bottom: 4%;
	font-size: 0.9em;
	vertical-align: middle;
}

.face {
	margin: -7px 7px -8px -7px;
	width:45px;
	border-radius: 50px;
	text-align: right;
}

.reviews .review_name {
	background-color: #7268ad;
	color: white;
	padding: 1%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.reviews_active .active_name {
	background-color: #FB6262;
	color: white;
	padding: 1%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.reviews .review_text, .reviews_active .review_text  {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
}
.active_comment {
	background-color: white;
	color: blue;
	
}
.active_comment .review_name{
	background-color: #4268ad;
	color: whitesmoke;
}

.send {
	margin-bottom: 4%;
}
.send input[type="text"], textarea {
	border: solid 1px #c3c3c3;
	margin-bottom: 2%;
}
.send input[type="text"] {
	width: 98%;
}
.send textarea {
	width: 100%;
	height: 100px;
}
.send input[type="submit"] {
	background-color: #7268ad;
	padding: 1%;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	font-size: 10pt;
}
.send a {
	background-color: #FB6262;
	padding: 1%;
	color: white;
	border: 2px solid silver;
	border-radius: 5px;
	font-size: 12pt;
}

.send_contact input[type="text"] {
	width: auto;
}
.send_contact textarea {
	width: auto;
}

.msg-warning {
	color: #FB6262;
	text-align: center;
	font-weight: bold;
}
.msg-warning a {
	color: white;
	background-color: #7268AD;
	padding: 5px 10px 5px 10px;
	margin: 5px;
	border-radius: 5px;
}
.msg-warning a:hover {
	background-color: #5268ad;
}
.btn-info {
	font-size: 10pt;
	background-color: #FB6262 !important;
	padding: 1%;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.err_msg {
	background-color: red;
	color: white;
	opacity: 0.4;
	padding: 5px;
	margin: 0 0 2% 0;
	text-align: center;
	font-size: 12pt;
}
.info_msg {
	background-color: green;
	color: white;
	opacity: 0.4;
	padding: 5px;
	margin: 0 0 2% 0;
	text-align: center;
	font-size: 12pt;
}
.default_msg {
	background-color: #7268AD;
	color: white;
	opacity: 1;
	padding: 5px;
	margin: 0 0 1% 0;
	text-align: center;
	font-size: 12pt;
}

.hidden {
	display: none;
}

.login_form label { 
	display: block;
	float: left; 
	width: 150px; 
	padding: 0; 
	margin: 9px 0 0;
	text-align: right; 
}

.login_form input, form select {
	width: auto;
	margin: 5px 0 0 10px;
	border: 1px solid gray;
	padding: 4px;
}

.login_form input[type=submit]:hover {
	cursor: pointer;
	background: silver;
}


.login_form br {clear: left;}

@media only screen
and (min-device-width : 360px)
and (max-device-width : 750px) {

	body {
		font-size: 30pt;
	}

	textarea {
	font-size: 24pt;
	padding: 5px;
	height: 200px !important;
	}

	
	#header a {
	/* font-size: 20pt; */
	padding: 14px;
	}

	.face {
		width:90px;
	}
	.send .default_msg, .send textarea{
		font-size: 20pt;
		
	}
	.send input[type="submit"] {
		background-color: #7268ad;
		padding: 3%;
		color: white;
		border-radius: 5px;
		cursor: pointer;
		font-size: 24pt;
	}
	.send a {
		background-color: #FB6262;
		padding: 3%;
		color: white;
		border-radius: 5px;
		font-size: 24pt;
	}
	.btn-info {
		font-size: 24pt;
		background-color: #FB6262 !important;
		padding: 2%;
		color: white;
		border-radius: 5px;
		cursor: pointer;
	}

	.table {
		max-width: 900px;
		font-size: 20pt;
	}

	.btn {
		font-size: 24pt !important;
	}
	.msg-warning a {
	color: white;
	background-color: #7268AD;
	padding: 6px 20px;
	margin: 4px auto;
	border-radius: 5px;
	}
	

}